<ion-view title="Serviços Favoritos" >
<ui-view >
    <ion-content class="content has-header">

    


        <div class="row" >
            <div class="card"  ng-if="servicos.length == 0">
                <div class="item item-text-wrap">
                    Nenhum Serviço Encontrado
                </div>
            </div>
        </div>


    <div class="col text-center" ng-show="loading"><ion-spinner icon="spiral"></ion-spinner></div>



        <div ng-repeat="servico in servicos" class="list card">

            <div class="item item-button-right">
                <h4>{{servico.empresas.nome_fantasia}}</h4>
                <p>{{servico.empresas.email}}</p>
                <a href="#/app/usuarios/detalhe/{{servico.empresas.empresas_id}}" class="button button-positive">
                    <i class="icon ion-ios-paw"></i>
                </a>
            </div>

        </div>

    </ion-content>

</ui-view>
</ion-view>




