<ion-view title="Notificações">
<ion-content class="content has-header">

    <div class="col text-center" ng-show="loading"><ion-spinner icon="spiral"></ion-spinner></div>

    <div class="card"  ng-if="notificacoes.length == 0">
      <div class="item item-text-wrap">
       Nenhuma notificação no momento
      </div>
    </div>
    </div>
    <div class="list" id="listagem">
    	<div ng-repeat="notificacao in notificacoes" id="lista-notificacoes">
    	<a class="item item-divider visto" ng-if="notificacao.visto == 'sim'"  href="#{{notificacao.url}}">
    	    <p>{{notificacao.mensagem}}</p>
    	</a>
        <a class="item item-divider" ng-click="alteraStatus(notificacao.notificacao_id,notificacao.url)" ng-if="notificacao.visto == 'não'">
            <p>{{notificacao.mensagem}}</p>
        </a>
        </div>

        <div id="mostrar">

        <a class="item item-divider mostrar" ng-if="notificacoes.length == 10"  ng-click="mostrar()"  >
            <p>Mostrar Mais</p>
        </a>

        </div>
    </div>

</ion-content>
</ion-view>


