<ion-view>
    <div class="bar bar-header bar-positive">
        <h1 class="title">Escolha seu perfil</h1>
    </div>

    <ion-content class="content has-header">
        <div class="row home">
            <div class="col col-50 text-center" ng-click="selecionarPerfil('usuario')">
                <div class="card">
                    <h1 class="padding positive">
                        <i class="ion ion-ios-person-outline"></i>
                    </h1>
                    <div class="item item-divider item-text-wrap">Usuário PetFan</div>
                </div>
            </div>

            <div class="col col-50 text-center" ng-click="selecionarPerfil('empresa')">
                <div class="card">
                    <h1 class="padding">
                        <i class="ion ion-ios-briefcase-outline"></i>
                    </h1>
                    <div class="item item-divider item-text-wrap">Prestador de Serviços</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

