<ion-view  title="{{animal.nome}}">
<ion-content class="content has-header">

<div class="list" ng-if="msg.length>0" >
	<div >
		<div class="list card">

			<p ng-repeat="item in msg" class="item item-icon-left" href="#">
				<i class="icon ion-alert-circled"></i>
				{{item}}
			</p>

		</div>


	</div>
</div>

<form id="editarAnimais" name="mainForm" ng-submit="editar()" >
	<input type="hidden" name="animais_id" value="{{animais_id}}">
	<input type="hidden" name="users_id" id="users_id" value="{{token}}">
    <input type="hidden" name="imagem" id="imagem">
    <div class="row">
        <div class="col-33">
            <div class="list list-inset">
                <div class="item text-center">
                    <p ng-show="loading_img"><ion-spinner icon="spiral"></ion-spinner></p>
                    <img ng-src="{{animal.imagem | concatenaservidor}}" alt="" ng-hide="loading_img">
                </div>
                <button ng-click="imagem()" type="button" class="button button-full button-energized"><i class="icon ion-ios-camera"></i> Mudar</button>
            </div>
        </div>
        <div class="col-67">
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <input type="text" name="nome" ng-model="animal.nome" id="nome" placeholder="Nome" required>
                    <span class="bloco" ng-show="mainForm.nome.$invalid && !mainForm.nome.$pristine">Nome obrigatório</span>
                </label>


                <div class="item item-icon-right" ng-click="selecionarGenero()">
                    Gênero
                    <i class="icon ion-ios-arrow-down"></i>
                    <p>{{textGenero(animal.sexo)}}</p>
                    <input type="hidden" name="sexo" id="sexo" value="{{animal.sexo}}" />

                </div>
                <span class="bloco" ng-show="mainForm.sexo.$invalid && !mainForm.sexo.$pristine">Gênero obrigatório</span>

                <div class="item item-icon-right" ng-click="selecionarTipos()">
                  Tipo
                  <i class="icon ion-ios-arrow-down"></i>
                  <p>{{animal.tipos.nome}}</p>
                  <input type="hidden" name="tipos_id" id="tipos_id"  value="{{animal.tipos.tipos_id}}" />
                </div>
                <span class="bloco" ng-show="mainForm.tipos_id.$invalid && !mainForm.tipos_id.$pristine">Tipo obrigatório</span>

                <div class="item item-icon-right" ng-click="selecionarRacas()">
                    Raça/Espécie
                    <i class="icon ion-ios-arrow-down"></i>
                    <p>{{animal.raca}}</p>
                    <input type="hidden" name="raca" id="raca" value="{{animal.raca}}" required />
                </div>
                <span class="bloco" ng-show="mainForm.raca.$invalid && !mainForm.raca.$pristine">Raça obrigatória</span>
                
                <div class="item item-icon-right" ng-click="selecionarPorte()">
                  Porte
                  <i class="icon ion-ios-arrow-down"></i>
                  <p>{{textPorte(animal.porte)}}</p>
                  <input type="hidden" name="porte" id="porte" value="{{animal.porte}}" />
                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="item item-divider">
            <i class="ion-ios-heart"></i> Encontrar Parceiros
        </div>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Mesma Raça
                </div>
                <select name="mesma_raca" ng-model="animal.mesma_raca" required>
                    <option value="sim" ng-selected="animal.mesma_raca == 'sim'">Sim</option>
                    <option value="nao" ng-selected="animal.mesma_raca == 'nao'">Não</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label range">
                <span>Distância</span>
                <input type="range" name="distancia" id="distancia" ng-model="animal.distancia" placeholder="Distância para achar um par em Km" min="1" max="50" required>
                {{animal.distancia}} Km
            </label>
            <label class="item item-input item-stacked-label">
                <span>Descrição</span>
                <textarea name="descricao" id="descricao" placeholder="O mais lindo de todos" rows="5"></textarea>
            </label>
        </div>
    </div>

    <div class="card">
        <div class="item item-divider">
           <i class="ion ion-ios-location"></i> Meu Local 
        </div>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span>CEP</span>
                <input type="tel" name="cep" id="cep" ng-blur="resgataEndereco()" ng-model="animal.endereco.cep" ui-mask="99999-999"  required>
                
                <span class="bloco" ng-show="mainForm.cep.$invalid && !mainForm.cep.$pristine">CEP obrigatório</span>
            </label>
            <label class="item item-input item-stacked-label">
                <span>Endereço</span>
                <textarea name="endereco" id="endereco" ng-model="animal.endereco.endereco" cols="30" rows="5" placeholder="Endereço" required></textarea>
                <span class="bloco" ng-show="mainForm.endereco.$invalid && !mainForm.endereco.$pristine">Endereço obrigatório</span>
            </label>

            <label class="item item-input item-stacked-label">
                <span>Bairro</span>
                <input type="text" name="bairro" id="bairro" ng-model="animal.endereco.bairro" placeholder="Bairro" required>
                <span class="bloco" ng-show="mainForm.bairro.$invalid && !mainForm.bairro.$pristine">Bairro obrigatório</span>
            </label>

            <label class="item item-input item-stacked-label">
                <span>Cidade</span>
                <input type="text" name="cidade" ng-model="animal.endereco.cidade" id="cidade" placeholder="Cidade" required>
                <span class="bloco" ng-show="mainForm.cidade.$invalid && !mainForm.cidade.$pristine">Cidade obrigatória</span>
            </label>


            <label class="item item-input item-stacked-label">
                <span>Estado</span>
                <input type="text" name="estado" ng-model="animal.endereco.estado" id="estado" placeholder="Estado" required>
                <span class="bloco" ng-show="mainForm.estado.$invalid && !mainForm.estado.$pristine">Estado obrigatória</span>
            </label>
	    </div>
	</div>
    <div class="padding-horizontal">
		<button  type="submit" ng-disabled="mainForm.$invalid" class="button button-block button-positive">Salvar</button>
    </div>
</form>

</ion-content>
</ion-view>
